/* LOGIN PAGE STYLES */
.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.login-left-panel,
.login-right-panel {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left-panel {
  background-color: #ffffff;
}

.login-right-panel {
  background-color: #183c7a;
  color: white;
  text-align: center;
}

.login-logo {
  width: 120px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input {
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #183c7a;
  color: white;
}

.login-input::placeholder {
  color: #cbdaf0;
}

.login-button {
  background-color: #77aaff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-new-member {
  font-size: 28px;
  margin-bottom: 16px;
}

.login-description {
  margin-bottom: 25px;
  font-size: 16px;
  padding: 0 20px;
}

.login-signup-btn {
  padding: 14px 30px;
  font-size: 16px;
  background-color: #77aaff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* SIGNUP PAGE STYLES */
.signup-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.674);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.signup-modal {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-input {
  padding: 14px;
  border: none;
  border-radius: 14px;
  background-color: #183c7a;
  color: white;
  font-size: 16px;
}

.signup-input::placeholder {
  color: #cbdaf0;
}

.signup-button {
  background-color: #77aaff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #559efc;
}

.signup-close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 28px;
  background: none;
  border: none;
  color: #183c7a;
  cursor: pointer;
  font-weight: bold;
}

.signup-close-btn:hover {
  color: #000;
}